.acreditarCtn {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acreditarCtn__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: space-evenly;
}

.acreditarCtn__info h2 {
    color: #009640;
    font-size: 30px;
}

.acreditarCtn__info button {
    background-color: #F6AA47 ;
    display: inline-block;
    border: none;
    padding: 10px;
    margin: 12px;
    width: 170px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 700;
    font-size: 15px;
}