$main-color: #009640;
$secondary-color: #1D1D1B;
$light-color: #C4C4C4;
$gold-color: #F6AA47;
$red-color: #af0000;
$test-color: #FDF4DD;
$text-color-dark: #000000;
$text-color-light: #FFFFFF;


$large-font-size: 1.5rem;
$normal-font-size: 14px;
$tiny-font-size: 0.6rem;




/* MAIN (RANKING CRYPTO) */

.section {
    padding: 2rem 0 2rem;
}

.section__title {
    width: 100%;
    font-size: 1.75rem;
    color: $main-color;
    text-align: center;
    padding: 5px;
    font-weight: bolder;
    padding-bottom: 20px;
}

.section__height {
    height: 100vh;
}


/* TABLE */

.table {
    background: #fff;
    width: 100%;
    height: auto;
    max-width: 700px;
    min-width: 290px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    position: relative;
    box-shadow: 1px 8px 10px #888888;
    border: 1px solid rgba($color: #000000, $alpha: 0.3);
    margin: 0 auto;
}

.table__container {
    display: grid;
    height: 500px;
    width: 100%;
    max-width: 700px;
    grid-template-columns: 5% 10% 20% 10% 10% 25% 10% 10%;
    font-weight: 800;
    align-items: center;
    text-align: center;
}


.down {
    i {
        color: $red-color;
    }
}

.up {
    i {
        color: $main-color;
    }
}

.c2 {
    i {
        color: $gold-color;
    }
}

.c4 {
    i {
        color: $main-color;
    }
}



/* MEDIA QUERIES */

/* SMALL DEVICES */
@media screen and (max-width: 767px) {

    .table__container {
        grid-template-columns: 20% 30% 10% 40%;
    }

    .magic{
        display: none;
    }
}