@media only screen and (max-width:360) {
    .prueba{
    background-color: #F6AA47 ;
    display: inline-block;
    border: none;
    padding: 10px;
    margin: 20px auto;
    width: 170px;
    border-radius: 15px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 700;
    }
}